h1{  margin: 0px; font-family: 'Comforter', cursive;}

p{font-family: 'Supermercado One', cursive;}

h2{font-family: 'Quintessential', cursive;}

h3{font-family: 'Quintessential', cursive;}

body{margin: 0px; text-align:center;}

div{background-color: #DFEEEA; margin: 0px;}

.top-container{background-color: #EEC373;}

.my-image{border-radius:50%; background-color: blue;}

.middle-container
{
    
}

.bottom-container{
    
}